//Base Color of theme
$primary:       #65CF48 !default;
$secondary:     green !default;

$color-white: #fff !default;
$color-black: #000 !default;

//Alerts
$color-success: #14d32d !default;
$color-warning: #d8a91d !default;
$color-danger: #d8201c !default;
$color-info: #7da3c7 !default;

$body-bg: $color-white;
$font-family-base: "Segoe UI", Arial, sans-serif;
$font-size: 14px;
$line-height-base: 1.5;
$font-size-base: .8125rem;
$body-color: #7a8994;


$base-img-url: "/assets/images";
$assets-url: "../../assets";

// Theme mix
$color-master: #626262 !default;
// light
$color-master-light:mix($color-master, #fff, 25%) !default;
$color-master-lighter:mix($color-master, #fff, 9.5%) !default;
$color-master-lightest:mix($color-master, #fff, 3%) !default;
// dark
$color-master-dark:mix($color-master, #000, 45%) !default;
$color-master-darker:mix($color-master, #000, 27%) !default;
$color-master-darkest:mix($color-master, #000, 18%) !default;